<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Test</title>

</head>

<body>
    <div class="main">
        <div class="container">
            <div class="main_inner">

            </div>
        </div>
    </div>
    <select id="cities">
    </select>

    <div id="tablo" class="weather">
        <div class="day">
            <img id="tmp4" /><br>
            <p id="day1">Сегодня</p>
            <div id="demo4"></div>
            <div id="demo5"></div>
            <div id="demo6"></div>
        </div>

        <div class="day">
            <img id="tmp5" /><br>
            <p id="day2">Завтра</p>
            <div id="demo7"></div>
            <div id="demo8"></div>
            <div id="demo9"></div>
        </div>

        <div class="day">
            <img id="tmp6" /><br>
            <p id="day3">Послезавтра</p>
            <div id="demo10"></div>
            <div id="demo11"></div>
            <div id="demo12"></div>
        </div>
    </div>

</body>

</html>