
//    my fonts
@font-face {
     font-family: "Montserrat-Medium";
     font-style: normal;
     font-weight: 400;
     src: url("../fonts/Montserrat-Medium.otf") format("opentype");
   }
   @font-face {
     font-family: "NunitoSans-Regular";
     font-style: normal;
     font-weight: 400;
     src: url("../fonts/NunitoSans-Regular.ttf") format("truetype");
   }
   @font-face {
     font-family: "WorkSans-Regular";
     font-style: normal;
     font-weight: 400;
     src: url("../fonts/WorkSans-Regular.otf") format("opentype");
   }
   @font-face {
     font-family: "Pe-icon-7-stroke";
     font-style: normal;
     font-weight: 400;
     src: url("../fonts/Pe-icon-7-stroke.ttf") format("truetype");
   }
   